---
layout: default
---

<div class="home">

  <p>
    My work explores the intersection of creative thought, physical form, and
    computation. I try to understand how to design tools
    that enable people to leverage the intuitive knowledge they gain from their embodied
    experiences of the physical world for making interactive systems and defining their behavior, rather than technical
    languages and conventional knowledge as in traditional circuitry and programming.
  </p>

  <p>Some samples of my work are below.</p>

  <section class="grid-wrapper">
    <div class="left-column">
      <strong>Tools</strong><br />
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for page in sorted_pages reversed | sort: 'order' %}
        {% if page.title %}
          {% if page.categories contains 'project' %}
            <a href="{{ page.url }}">{{ page.title }}</a><br />
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="middle-column">
      <strong>Spaces & Events</strong><br />
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for page in sorted_pages reversed | sort: 'order' %}
        {% if page.title %}
          {% if page.categories contains 'environment' %}
            <a href="{{ page.url }}">{{ page.title }}</a><br />
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="right-column">
      <strong>Gadgets</strong><br />
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for page in sorted_pages reversed | sort: 'order' %}
        {% if page.title %}
          {% if page.categories contains 'gadget' %}
            <a href="{{ page.url }}">{{ page.title }}</a><br />
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <br />

  <section class="grid-wrapper">
    <div class="left-column">
      <strong>Workshop</strong><br />
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for page in sorted_pages reversed | sort: 'order' %}
        {% if page.title %}
          {% if page.categories contains 'workshop' %}
            <a href="{{ page.url }}">{{ page.title }}</a><br />
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="middle-column">
      <strong>Visual</strong><br />
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for page in sorted_pages reversed | sort: 'order' %}
        {% if page.title %}
          {% if page.categories contains 'image' %}
            <a href="{{ page.url }}">{{ page.title }}</a><br />
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="right-column">
      <strong>Writing</strong><br />
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for page in sorted_pages reversed | sort: 'order' %}
        {% if page.title %}
          {% if page.categories contains 'writing' %}
            <a href="{{ page.url }}">{{ page.title }}</a><br />
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <!--
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->

</div>
